<section class="main">
    <div class="main__header">
        <div 
            class="main__header__tab" 
            routerLink="/1"
            routerLinkActive="active">
            1. Etapa
        </div>
        <div 
            class="main__header__tab" 
            routerLink="/2"
            routerLinkActive="active">
            2. Etapa
        </div>
        <div 
            class="main__header__tab" 
            routerLink="/3"
            routerLinkActive="active">
            3. Etapa
        </div>
    </div>
    <div class="main__body">
        <router-outlet></router-outlet>
    </div>
</section>