.step-3 {
    width: 300px;
    margin: 0 auto;

    &__door {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    &__invalid {
        color: red;
        border-top: 2px solid red;
        border-right: 2px solid red;
        border-left: 2px solid red;
        padding: 10px 0 10px 0;
        text-align: center;
        width: 299px;
    }

    &__password {
        
        input {
            width: 295px;
            height: 50px;
            font-size: 20px;
            border-top: 2px solid black;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-bottom: none;
            text-align: center;
        }
    }

    &__restart {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
}