<section class="step-3">
    <div class="step-3__door">
        @for (door of doors; track door; let idx = $index) {
            <app-door 
                [door]="door"
                (next)="openModal()"></app-door>
        }
    </div>
    @if (!checkPassword && displayValue.length === 8) {
        <div class="step-3__invalid">Senha incorreta</div>
    }
    <div class="step-3__password">
        <input 
            type="password" 
            [value]="displayValue" 
            placeholder="Password">
    </div>
    <app-keyboard (keyClicked)="onKeyClicked($event)"></app-keyboard>
    <div class="step-3__restart">
        <button 
            mat-raised-button
            color="primary"
            (click)="restart()">
            Reiniciar
        </button>
    </div>
</section>
